# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
entorno/
venv/
.venv/
ENV/
env/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
.vite/
*.local

# OS
.DS_Store
Thumbs.db

# Build outputs
*.tsbuildinfo